/*------------------------------------*\
  #fonts SECTION
\*------------------------------------*/
@font-face {
  font-family: 'aleo';
  src: url('../fonts/AleoLightItalic.eot');
  src: url('../fonts/AleoLightItalic.eot') format('embedded-opentype'),
     url('../fonts/AleoLightItalic.woff2') format('woff2'),
     url('../fonts/AleoLightItalic.woff') format('woff'),
     url('../fonts/AleoLightItalic.ttf') format('truetype'),
     url('../fonts/AleoLightItalic.svg#AleoLightItalic') format('svg');
}