/*------------------------------------*\
	#icons SECTION
\*------------------------------------*/
.human-icon:after,
.case-icon:after,
.document-icon:after,
.comment-cloud-icon:after,
.mail-icon:after,
.link-icon,
.net-icon:after,
.navigation-arrow-left-icon:after,
.navigation-arrow-right-icon:after,
.cloud-icon:after,
.serious-face-icon:after,
.big-comment-icon:after,
.computer-icon:after,
.text-size-icon:after,
.picture-icon:after,
.calendar-icon,
.commas-icon,
.small-human-icon,
.two-comment-clouds-icon,
.home-icon,
.phone-icon,
.small-mail-icon,
.facebook-icon,
.twitter-icon,
.pinterest-icon,
.dribble-icon,
.option-arrow-bottom-icon:after,
.net-calendar-icon:after,
.align-left-icon:after,
.align-middle-icon:after,
.align-right-icon:after,
.middle-home-icon:after,
.middle-human-icon:after,
.square-comment-icon:after,
.settings-icon:after,
.empty-checkbox-icon:after,
.disable-checkbox-icon:after,
.active-chekbox-icon:after,
.disable-active-checkbox-icon:after,
.empty-radio-icon:after,
.disable-radio-icon:after,
.active-radio-icon:after,
.disable-active-radio-icon:after,
.small-close-yellow-icon:after,
.small-close-blue-icon:after,
.small-close-green-icon:after,
.small-close-red-icon:after,
.prev-page-link,
.next-page-link  {
	background-image: url('../img/sprites/main-sprite.png');
	background-repeat: no-repeat;
	display: block;
}
.human-icon:after,
.case-icon:after,
.document-icon:after,
.comment-cloud-icon:after,
.mail-icon:after {
	display: block;
	content: '';
	right: 25px;
	top: 25px;
	position: absolute; 
	width: 20px;
	height: 20px;
}
.calendar-icon,
.two-comment-clouds-icon,
.small-human-icon {
	display: block;
	left: 0;
	top: 0;
	position: absolute; 
	width: 20px;
	height: 20px;
}
.small-human-icon {
	width: 15px;
}
.link-icon {
 display: block;
 width: 50px;
 height: 50px;
 background-position: -78px 0;
 margin: 0 auto 25px;
}
.commas-icon {
	display: block;
	width: 30px;
	height: 30px;
	background-position: -46px -143px;
	margin: 15px auto 13px;
}
.facebook-icon,
.twitter-icon,
.pinterest-icon,
.dribble-icon {
	display: block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	float: left;
	-webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		 -o-transition: all 0.3s;
			transition: all 0.3s;
}
.facebook-icon {
	margin-left: 0;
}
.facebook-icon:hover,
.twitter-icon:hover,
.pinterest-icon:hover,
.dribble-icon:hover {
	opacity: 0.7;
}
.prev-page-link,
.next-page-link {
	width: 30px;
	height: 30px;
	float: left;
	margin: 0 3px;
	-webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		 -o-transition: all 0.3s;
			transition: all 0.3s;
}
.prev-page-link:hover,
.next-page-link:hover {
	opacity: 0.7;
}
.prev-page-link {
	background-position: -150px -10px;
}
.next-page-link {
	background-position: -186px -10px;
}
.next-page-link {
	background-position: -186px -10px;
}
.facebook-icon {
	background-position: -5px -247px;
}
.twitter-icon {
	background-position: -6px -279px;
}
.pinterest-icon {
	background-position: -6px -339px;
}
.dribble-icon {
	background-position: -6px -308px;
}
.human-icon:after {
	background-position: -5px -5px;
}
.human-icon:hover:after {
	 background-position: -45px -5px;
}
.case-icon:after {
	background-position: -5px -29px;
}
.case-icon:hover:after {
	background-position: -45px -29px;
}
.document-icon:after {
	background-position: -5px -55px;
}
.document-icon:hover:after {
	background-position: -45px -55px;
}
.comment-cloud-icon:after {
	background-position: -6px -80px;
}
.comment-cloud-icon:hover:after {
	background-position: -46px -80px;
}
.mail-icon:after {
	background-position: -6px -105px;
}
.mail-icon:hover:after {
	background-position: -46px -105px;
}
.calendar-icon {
	background-position: -5px -150px;
}
.two-comment-clouds-icon {
	background-position: -6px -211px;
}
.small-human-icon {
	background-position: -8px -179px;
	left: 5px;
}
.home-icon,
.phone-icon,
.small-mail-icon {
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
	top: 0;
	display: block;
}
.home-icon {
	background-position: -53px -234px;
}
.phone-icon {
	background-position: -54px -264px;
}
.small-mail-icon {
	background-position: -54px -296px;
}