/*------------------------------------*\
  #main SECTION
\*------------------------------------*/
  
body {
  background: #D9DBDD;
}
h1, h2, h3, h4, h5, h6 {
  color: #2C383C;
}
h1 {
  font-size: 30px;
  font-weight: 700;
}
h2 {
	font-size: 24px;
	font-weight: 300;
	color: #2C383C;
}
a, 
input,
textarea,
button {
  outline: none;
  font-family: 'Open Sans', sans-serif;
}
::-webkit-input-placeholder {
  color:#555555;
} 
::-moz-placeholder {
  color:#555555;
}/* Firefox 19+ */ 
:-moz-placeholder {
	color:#555555;
}/* Firefox 18- */ 
:-ms-input-placeholder {
  color:#555555;
}
button {
  -webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
	  -ms-transition: all 0.3s;
	   -o-transition: all 0.3s;
		  transition: all 0.3s;
}
a {
  -webkit-transition: opacity 0.3s;
     -moz-transition: opacity 0.3s;
      -ms-transition: opacity 0.3s;
       -o-transition: opacity 0.3s;
          transition: opacity 0.3s;
}
p a {
  color: #2C383C;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}
p a:hover {
  color: #000;
  border-bottom: 1px solid #000;
  padding-bottom: 1px;
}
p.footer-right-box a {
  border-bottom: 0;
}
.container {
  width: 100%;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
	  box-sizing: border-box;
}
.avatar-section {
  width: 280px;
  height: 265px;
  background: url('../img/big/avatar-bg.jpg') no-repeat;
  -webkit-background-size: cover;
	 -o-background-size: cover;
	  background-size: cover;
  position: relative;
  margin: 20px auto;
}
.avatar-section img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 10px solid rgba(255, 255, 255, 0.15);
  border-radius: 50%;
}
.side-bar-area .menu li {
  background: #2c383c;
  height: 70px;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: block;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
	  box-sizing: border-box;
}
.side-bar-area .menu li:hover {
  background: #FFD42D;
}
.menu li.current-menu-item {
  background: #FFD42D;
}
.menu li.current-menu-item:before,
.side-bar-area .menu li.current-menu-item a {
  color: #2C383C;
}
.side-bar-area .menu li a {
  color: #D1D1D1;
  text-decoration: none;
  font-size: 17px;
  text-align: right;
  width: 100%;
  display: block;
  padding: 27px 67px 27px 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.side-bar-area .menu li:last-of-type {
  border-bottom: 0;
}
.side-bar-area .menu li a:hover {
  color: #2c383c;
  border-bottom: 0;
}
.side-bar-area .menu li:hover a {
  color: #2c383c;
  border-bottom: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.burger-btn {
  width: 50px;
  height: 40px;
  position: absolute;
  right: 10px;
  bottom: 15px;
  cursor: pointer;
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;
}
.burger-btn div {
  height: 5px;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  background-color: #fff;
  -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	 -o-transition: all 0.5s;
	  transition: all 0.5s;
}
.burger-btn div:last-of-type {
  margin-bottom: 0;
  bottom: 0;
}
.burger-line-1-active {
  top: 15px;
  -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	 -o-transform: rotate(-45deg);
	  transform: rotate(-45deg);
}
.burger-line-2-active {
  -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	 -o-transform: rotate(45deg);
	  transform: rotate(45deg);
}
.burger-line-3-active {
  bottom: -8px !important;
}
.main-site-menu {
  display: none;
  margin: 0 auto 20px;
  width: 280px;
}
.page-navigation-text {
  color: #2C383C;
  font-size: 13px;
  line-height: 34px;
  float: left;
  font-weight: 300;
}
.page-navigation {
  overflow: hidden;
  width: 245px;
  margin: 20px auto;
}
.navigation-link-box {
  float: left;
  margin-left: 17px;
  overflow: hidden;
}
.blog-banner-area-with-border {
  border-bottom: 1px solid #ededed;
  margin-bottom: 30px;
}
/*------------------------------------*\
  #blog SECTION
\*------------------------------------*/
.blog {
  padding: 0 10px;
  position: relative;
}
.main-area {
  background: #FFF;
  overflow: hidden;
}
.main-area p {
	color: #828282;
}
.type-post p,
.type-gallery p {
  font-size: 15px;
  line-height: 24px;
  color: #828282;
  font-weight: 300;
}
.type-post h1,
.type-gallery h1 {
  margin-bottom: 12px;
}
.type-post h1,
.type-gallery h1,
.type-gallery h1 a,
.type-post h1 a {
  font-size: 16px;
  line-height: 15px;
  font-weight: 700;
  color: #2C383C;
  text-decoration: none;
  text-align: center;
}
.type-post h1 a:hover,
.type-gallery h1 a:hover {
  opacity: 0.7;
}
.main-title {
  padding: 30px 0;
  display: block;
  text-align: center;
  text-transform: uppercase;
}
.grey-line {
  height: 1px;
  width: 100%;
  background-color: #ededed;
  margin-bottom: 30px;
}
.blog-meta-information {
  margin: 10px 0 20px;
  overflow: hidden;
  text-align: center;
}
.blog-meta-information div {
  font-size: 12px;
  line-height: 20px;
  color: #a1a1a1;
  font-weight: 500;
  position: relative;
  margin-right: 10px;
  display: inline-block;
}
.blog-meta-information div a {
  text-decoration: none;
  color: #A1A1A1;
}
.blog-meta-information i {
  margin-right: 8px;
  font-size: 18px;
  position: relative;
  top: 2px;
}
.blog-meta-information div:last-of-type {
  margin-right: 0px;
}
.blog-thumbnail img {
  display: block;
  margin: 20px auto;
}
.blog-banner {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  padding: 60px 0 50px;
  display: block;
  overflow: hidden;
  text-decoration: none;
  font-family: 'aleo';
}
.blog-banner a {
  text-decoration: none;
}
.blog-banner p,
.blog-banner a {
  display: inline-block; 
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  text-decoration: none;
  padding: 0px 10px;
  line-height: 34px;
}
.type-post,
.type-gallery {
  border-bottom: 1px solid #ededed;
  margin-bottom: 30px;
  padding: 0 0 25px;
  overflow: hidden;
}
.type-post {
  padding: 0 0 25px;
}
.blog-banner-yellow {
  background: #FFD42D;
}
.blog-banner-yellow p {
  color: #2C383C;
}
.blog-banner-yellow:hover {
  background: #2c383c;
}
.blog-banner-yellow:hover p {
  color: #FFD42D;
}
.blog-banner-yellow:hover .link-icon {
  background-position: -83px -58px;
}
.blog-banner-black {
  background: #2c383c;
}
.blog-banner-black a {
  color: #FFD42D;
}
.more-link {
  display: none;
}
.quote-owner {
  font-weight: 700;
  color: #FFF;
  font-style: normal;
  font-size: 22px;
  line-height: 38px;
  font-family: 'Open Sans', sans-serif;
}
.no-link {
  cursor: default;
}
.post,
.gallery {
  position: relative;
}
.main-content-wrapper .type-post:last-of-type {
  border-bottom: none;
  padding: 0;
  margin-bottom: 25px;
}
/*------------------------------------*\
  #footer SECTION
\*------------------------------------*/
.footer {
  padding: 20px 10px;
  background: #f1f1f1;
  overflow: hidden;
}
.footer-left-box {
  font-size: 14px;
  line-height: 32px;
  float: left;
  max-width: 310px;
  display: block;
}
.footer-right-box {
  overflow: hidden;
  margin: 55px 0 10px -5px;
  clear: both;
}
/*------------------------------------*\
  #contact SECTION
\*------------------------------------*/
.map-area, .map-area-empty {
  margin-bottom: 20px;
}
.thin-title {
  font-size: 20px;
  line-height: 22px;
  font-weight: 300;
  margin-bottom: 10px;
}
.contact-message-area p {
  color: #828282;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
}
.contact-message-area {
  margin-bottom: 10px;
}
.contact-info-area {
  overflow: hidden;
  margin: 15px 0 25px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 20px;
}
.contact-info-area > div {
  position: relative;
  font-size: 14px;
  line-height: 15px;
  padding-left: 25px;
  float: left;
  margin-bottom: 10px;
  clear: both;
  color: #828282;
}
.contact-info-area > div:last-of-type {
  margin-bottom: 0;
}
.contact-info-area > div a {
  color: #828282;
  text-decoration: none;
}
.map-area {
  background: url('../img/big/map-sample.jpg') no-repeat center;
  min-height: 360px;
  width: 100%;
  -webkit-background-size: cover;
	   -o-background-size: cover;
		  background-size: cover;
}
.map-area-empty {
    width: 100%;
    -webkit-background-size: cover;
       -o-background-size: cover;
        background-size: cover;
}
.contact-form-title {
  color: #000;
  margin-bottom: 15px;
}
input[type="text"] {
  width: 100%;
  border: 1px solid #ececec;
  padding: 16px 15px;
  height: 51px;
  -webkit-border-radius: 4px;
		  border-radius: 4px;
  -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
		  box-sizing: border-box;
  margin-bottom: 10px;
}
.form-btn,
#comment-sub {
  padding: 13px 20px;
  width: 100%;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  color: #2b373b;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}
.yellow-btn,
#comment-sub {
  background-color: #ffd42d;
}
.yellow-btn:hover,
#comment-sub:hover {
  color: #D1D1D1;
  background-color: #203339;
}
.message-field {
  height: 173px;
  margin-bottom: 5px;
  width: 100%;
  border: 1px solid #ececec;
  padding: 17px 15px;
  resize: none;
  -webkit-border-radius: 4px;
		  border-radius: 4px;
  -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
		  box-sizing: border-box;
}
.main-contact-form {
  margin-bottom: 30px;
}

/*------------------------------------*\
  #profile SECTION
\*------------------------------------*/
.profile-main-title {
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
  color: #606060;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 25px;
}
.profile-page {
  padding: 20px 30px 6px;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
		box-sizing: border-box;
}
.profile-main-title:after {
  display: block;
  content: ''; 
  height: 3px;
  background: #FFD42D;
  width: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.owner-name {
	font-weight: 700;
	color: #000;
}
.about-me-text {
	font-size: 17px;
	line-height: 27px;
	border-bottom: 1px solid #ededed;
	font-weight: 300;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.personal-info-title {
	position: relative;
	padding-bottom: 25px;
	margin-bottom: 20px;
}
.personal-info-title:after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	display: block;
	background: #FFD42D;
	width: 50px;
	height: 6px;
}
.personal-info {
	overflow: hidden;
}
.personal-info > div {
	display: inline-block;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
.personal-info > div > span:first-of-type {
	border-right: 0;
}
.personal-info > div > span {
	color: #9B9B9B;
	display: inline-block;
	float: left;
	padding: 10px 15px;
	line-height: 22px;
	font-size: 16px;
	font-weight: 300;
	border: 1px solid #ededed;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.personal-info > div > span:last-of-type {
	background: #F6F6F6;
	color: #484848;
	border-left: 1px solid #ededed;
}
.single-post .article-header {
	position: static;
}
.single-post .article-header h1 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 17px;
}
.big-single-thumbnails {
	margin-bottom: 20px;
	width: 100%;
}
.single-post p:first-of-type {
	padding-top: 0;
}
.comment-author .avatar {
	border: 1px solid #dbdbdb;
	padding: 8px;
	width: 62px;
	height: 62px;
	display: block;
	color: #3C3C3C;
	float: left;
	margin-right: 15px;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
}
.comment-meta .fn,
.comment-meta .fn a {
	font-size: 14px;
	margin-top: 10px;
	display: block;
	float: left;
	color: #3C3C3C;
}
.comment-meta {
	max-width: 540px;
}
.comment-meta .fn a {
	margin: 0;
	padding: 0;
}
.comment-author .says {
	display: none;
}

.comments-template {
	margin: 0 30px;
	padding: 25px 0 0;
	border-top: 1px solid #ededed;
}
.comments-title {
	margin-bottom: 15px;
}
.comment-author,
.comment-meta {
	float: left;
}
.comment-body {
	overflow: hidden;
}
.comment-meta a {
	font-size: 11px;
	color: #b8b8b8;
	text-decoration: none;
	padding-left: 7px;
	margin-top: 11px;
	display: block;
	float: left;
}
.comment-meta p {
	clear: both;
}
.comment-edit-link {
	display: none !important;
}
.comments-area p {
	font-size: 13px;
	line-height: 22px;
	color: #868686;
}
.comment > div {
	overflow: hidden;
	border-bottom: 1px solid #ededed;
	margin-bottom: 25px;
	padding-bottom: 25px;
}
.reply .comment-reply-link {
	background: #FFD42D;
	color: #2B373B;
	font-size: 11px;
	line-height: 22px;
	padding: 0 5px;
	margin: 5px 0;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
}
.reply .comment-reply-link:hover {
	background: #2B373B;
	color: #FFD42D;
}
.children {
	margin-left: 95px;
}
.comment-reply-title {
	font-size: 22px;
	color: #000;
	margin-bottom: 15px;
	font-weight: 300;
}
.form-allowed-tags {
	display: none;
}
.comment-form-comment label {
	display: none;
}
.comment-form-comment textarea {
	height: 173px;
	margin-bottom: 5px;
	width: 100%;
	border: 1px solid #ececec;
	padding: 17px 15px;
	resize: none;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.comment-respond {
	overflow: hidden;
	margin-bottom: 30px;

}
.logged-in-as {
	margin-bottom: 5px;
}
.logged-in-as a {
	color: #b8b8b8;
	text-decoration: none;
}
.website-info a {
  color: #484848;
  text-decoration: none;
}
ul#afp-filter li {
  float: left;
}
ul#afp-filter li a {
  text-decoration: none;
  display: inline-block;
}
#afp-filter li a {
  color: #b1b1b1;
  font-size: 14px;
  line-height: 15px;
  text-decoration: none;
  font-weight: 300;
  padding: 8px 13px;
}
.afp-active-cat a {
  background-color: #ffd42d;
  color: #2c383c !important;
}
#afp-filter li:first-of-type a {
  padding: 8px 13px 8px 45px;
  background-image: url('../img/sprites/main-sprite.png');
  background-repeat: no-repeat;
  background-position: -93px -116px;
  color: #21353A;
}
#afp-container {
  position: relative;
}
ul#afp-filter li {
  padding-right: 0 !important;
}
#afp-filter {
  margin-bottom: 40px !important;
  overflow: hidden;
}
.afp-single-item {
  width: 200px;
  height: 160px;
  position: relative;
}
li.afp-single-item {
  margin-bottom: 20px !important;
}
.colorbox {
  display: block;
  position: absolute;
  top: 0;
}
.afp-item-details li:first-of-type {
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
}
.afp-item-details li:nth-child(2) {
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  line-height: 30px;
}
.afp-item-details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto 0!important;
  width: 200px;
  text-align: center;
  z-index: 5;
}
.afp-single-item ul.afp-item-details {
  display: table;
}
.afp-single-item .colorbox .adipoli-wrapper:hover .adipoli-before {
  display: none;
}
.afp-single-item:hover .afp-item-details {
  display: table !important;
}
.adipoli-before:hover img {
  display: none;
  width: 0;
  height: 0;
}
.afp-item-details li {
  display: table-cell;
  vertical-align: middle;
  float: left;
  clear: both;
  width: 100%;
  position: relative;
  z-index: 5;
}
.afp-single-item {
  position: relative;
}
.afp-item-details li:nth-child(3),
.afp-item-details li:nth-child(4),
.afp-item-details li:nth-child(5) {
  display: none;
}
.adipoli-before {
  background-color: #FFD42D;
}
.adipoli-before img:hover {
  opacity: 0;
} 
.work-box {
  float: left;
  width: 200px;
  height: 160px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.work-box img {
  width: 100%;
  height: 100%;
  
}
.work-link-to {
  position: relative;
  display: block;
  float: left;
}
.work-info-box {
  display: table;
  text-align: center;
  vertical-align: middle;
  height: 160px;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.work-info-box h3,
.work-info-box p {
  display: table-cell;
  vertical-align: middle;
  width: 200px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.work-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  background-color: #fbd43e;
}
.work-info-box {
  background-color: #fbd43e;
  opacity: 0;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}
.work-description {
  font-size: 11px;
  font-style: italic;
}
.work-box:hover .work-info-box {
  opacity: 1;
}
.works-navigation {
  overflow: hidden;
  margin-bottom: 20px;
}
.works-navigation li {
  display: inline-block;
  float: left;
}
.works-navigation li a {
  color: #2C383C;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  padding: 11px 14px;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  
}
.works-navigation li a:hover {
	background: #FFD42D;
}
.works-navigation li a.active-work-tab {
  background-color: #FFD42D !important;
}
.works-navigation li:first-of-type a {
  background-image: url('../img/sprites/main-sprite.png');
  background-repeat: no-repeat;
  background-position: -94px -114px;
  padding-left: 42px;
  background-color: #FFD42D;
}
.error-not-found-page-title {
	font-size: 100px;
	text-align: center;
}
.error-box {
	display: table;
	width: 100%;
	height: auto;
	position: absolute;
	top: 100px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.error-not-found-page-title {
	vertical-align: middle;
	display: table-cell;
}
.error-page {
	min-height: 518px !important;
}
.works-post {
  text-align: center;
}
.work-box {
  margin: 0 10px 20px;
  display: inline-block;
  float: none;
}
.works-navigation li {
  margin-bottom: 10px;
}
/*------------------------------------*\
  #resume SECTION
\*------------------------------------*/
.resume-title {
	color: #2C383C;
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 10px;
	position: relative;
	padding-bottom: 23px;
	margin-bottom: 25px;
  text-align: left;
}
.resume-title:after {
	content: '';
	display: block;
	width: 50px;
	height: 6px;
	background-color: #FFD42D;
	position: absolute;
	bottom: 0;
	left: 0;
}
.study-place {
	border-bottom: 1px solid #ededed;
	padding-bottom: 20px;
	margin-bottom: 20px;
  display: block;
}
.study-place h3 {
	color: #2C383C;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 17px;
}
.study-place .time-period {
	font-size: 15px;
	color: #2C383C;
	font-weight: 300;
	margin-bottom: 16px;
}
.time-period i {
  color: #AAA;
  font-size: 18px;
  margin-right: 9px;
}
.study-place .study-place-text {
	color: #828282;
	font-size: 15px;
	font-weight: 300;
	line-height: 24px;
}
.features {
	overflow: hidden;
	text-align: center;
	margin-bottom: 20px;
	
}
.features > a {
	border: 1px solid #ededed;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	width: 210px;
	height: 165px;
	margin: 7px 5px;
	display: inline-block;
  text-decoration: none;
  overflow: hidden;
}
.feature p {
	color: #8F8F8F;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	font-weight: 300;
	position: relative;
}
.feature p:after {
	content: '';
	display: block;
	width: 0;
	height: 1px;
	background-color: #C0C0C0;
	margin: 20px auto;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
}
.feature:hover p:after {
	width: 50px;
	background: #FFF;
}
.feature:hover p {
	font-weight: 700;
	color: #FFF;
}
.feature i {
  font-size: 40px;
  color: #8F8F8F;
	width: 50px;
	height: 60px;
	margin: 20px auto;
	display: block;
	border-bottom: 1px solid #c0c0c0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
}
.feature:hover i {
	height: 40px;
	border-bottom: 1px solid transparent;
  color: #fff;
  margin: 20px auto 10px;
}
.feature:hover {
	background: #FFD42D;
	cursor: pointer;
}
.skill-name-box {
  overflow: hidden;
  margin-bottom: 7px;
}
.skill-name-box p {
  width: 50%;
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
}
.skill-name {
  color: #9A9A9A;
  font-weight: 300;
  float: left;
}
.skill-percent {
  float: right;
  color: #6A6A6A;
  text-align: right;
}
.skill-progress-bar {
  height: 20px;
  clear: both;
  overflow: hidden;
  position: relative
}
.skill-progress-bar:after {
  content: '';
  display: block;
  width: 100%;
  height: 20px;
  border: 1px solid #EDEDED;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
}
.skill-progress-bar > div {
  background-color: #ffd42d;
  height: 20px;
}
.skill-area {
  padding-bottom: 30px;
  margin-bottom: 25px;
  border-bottom: 1px solid #ededed;
}
.skill-box {
  margin-bottom: 8px;
}
.skill-box:last-of-type {
  margin-bottom: 0;
}
.work-place:last-of-type {
  border-bottom: 0;
  margin-bottom: 0;
}
.work-full-text {
  margin-bottom: 20px;
}
.bottom-work-images .big-single-thumbnails:last-of-type {
  margin-bottom: 0;
}
.menu li {
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}
.menu li:before {
  position: absolute;
    right: 25px;
    margin: auto;
    top: 25px;
    display: block;
    font-size: 20px;
    color: #fff;
}
.main-site-menu .sub-menu {
  display: none;
}
.footer-right-box a {
	color: #2C383C;
	text-decoration: none;
	font-size: 18px;
	margin-left: 5px;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
}
.footer-right-box a:hover {
	color: #000;
}
#map-canvas {
  width: 100%;
  height: 400px;
}
.contact-form-area {
  margin-bottom: 30px;
  overflow: hidden;
}
.mail-contact {
  text-decoration: none;
  color: #828282;
}
.work-link-to {
  height: 100%;
}