/*------------------------------------*\
  #main import SECTION
\*------------------------------------*/

@import "reset.css";
@import "fonts.css";
@import "icons.css";
@import "main_style.css";

/*------------------------------------*\
  MEDIA QUERIES
\*------------------------------------*/
@media screen and (max-width: 330px) {
  body {
  width: 320px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
} /* max-width 320px */
@media screen and (min-width: 330px) {
  .personal-info > div {
    margin-right: 0;
    clear: both;
  }
  .personal-info > div > span {
    clear: both;
  }
  .personal-info > div > span:first-of-type {
    border-bottom: 0;
    border-right: 1px solid #ededed;
  }
  .children {
    margin-left: 0;
  }
  .comment-meta {
    width: 65%;
  }
  .footer-left-box {
    max-width: 360px;
  }
} /* min-width 330px */
@media screen and (min-width: 430px) {
  .form-btn,
  #comment-sub {
    display: inline-block;
    float: right;
    width: auto;
  }
  .main-contact-form {
    overflow: hidden;
  }
  .personal-info > div {
    display: inline-block;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    clear: none;
  }
  .personal-info > div > span {
    clear: none;
  }
  .personal-info > div > span:first-of-type {
    border-bottom: 1px solid #ededed;
    border-right: 0;
  }
} /* min-width 430px */
@media screen and (min-width: 505px) {
  .footer-right-box {
  clear: none;
  float: right;
  margin: 6px 4px;
  }
  .left-form-box {
    width: 50%;
    float: left;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .right-form-box {
    float: left;
    width: 50%;
  }
  .comment-meta {
    width: 75%;
  }
  .comment-form-comment textarea {
    width: 50%;
  }
} /* min-width 505px */
@media screen and (min-width: 650px) {
  .main-title {
  text-align: left;
  max-width: 360px; 
  }
  .page-navigation {
  margin: 20px 0;
  position: absolute;
  top: 10px;
  right: 5px;
  }
  .type-post h1,
  .type-gallery h1,
  .type-gallery h1 a,
  .type-post h1 a {
  font-size: 16px;
  line-height: 15px;
  font-weight: 700;
  color: #2C383C;
  text-decoration: none;
  text-align: left;
  }
  .blog-meta-information {
  text-align: left;
  }
  .blog-thumbnail img {
  margin: 5px 10px 0 0;
  float: left;
  }
  .bx-wrapper {
  margin: 0 10px 5px 0;
  float: left;
  }
  .contact-info-area > div {
    margin-right: 20px;
    clear: none;
  }
  .children {
    margin-left: 20px; 
  }
} /* min-width 650px */
@media screen and (min-width: 718px) {
  .features {
    margin: 30px auto 30px;
    width: 635px;
  }
  .features > a {
    border: none;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    margin: 0;
    float: left;
  }
  .feature-1 {
    border-left: 1px solid #ededed !important;
    border-top: 1px solid #ededed !important; 
  }
  .feature-2,
  .feature-3 {
    border-top: 1px solid #ededed !important;
  }
  .feature-4 {
    border-left: 1px solid #ededed !important;
  }
} /* min-width 718px */
@media screen and (min-width: 800px) {
  .side-bar-area {
  width: 280px;
  float: left;
  }
  .avatar-section {
  margin: 0;
  }
  .burger-btn {
  display: none;
  }
  .main-title {
   max-width: 230px;
  }
  .main-site-menu {
  display: block !important;
  }
  .main-container {
  padding: 100px 0;
  }
  .blog {
    padding: 0 30px;
    /*min-height: 548px; */
  }
  .type-post p, .type-gallery p {
    clear: both;
  }
  .blog-thumbnail img {
    margin: 5px 10px 20px 0;
  }
  .bx-wrapper {
    margin: 5px 10px 20px 0;
  }
  .blog-banner {
    padding: 60px 50px 50px;
  }
  .blog-meta-information {
    margin: 0;
  }
  .single-post .blog-meta-information {
    margin: 0 0 10px;
  }
  .footer {
    padding: 20px 30px;
  }
  .left-form-box {
    padding-right: 20px;
  }
  .page-navigation {
    right: 23px;  
  }
  .comment-meta {
    width: 75%; 
  }
  .children .comment-meta {
    width: 72%;
  }
  .children .children .comment-meta {
    width: 62%;
  }
  .children .children .comment-meta a {
    padding-left: 0;
    clear: both;
    margin: 5px 0 0;
  }
  .children {
    margin-left: 100px;
  }
  .features {
    margin: 30px auto 30px;
    width: 445px;
  }
  .features > a {
    border: 1px solid #ededed;
    margin: 5px;
    float: left;
  }
  .footer-left-box {
    max-width: 330px;
  }
} /* min-width 800px */
@media screen and (min-width: 920px) {
  .bx-wrapper {
  margin: 0px 25px 0 0;
  }
} /* min-width 920px */
@media screen and (min-width: 1000px) {
  .main-container {
  width: 980px;
  margin: 0 auto;
  }
  .main-content-wrapper {
  width: 700px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  .blog-thumbnail img {
  margin: 0 25px 0px 0;
  }
  .article-header {
  position: absolute;
  left: 288px;
  top: 0px;
  }
  .type-post p, .type-gallery p {
  clear: none;
  }
  .type-post p:first-of-type, .type-gallery p:first-of-type {
  padding-top: 55px;
  }
  .single-post p:first-of-type {
    padding-top: 0;
  }
  .blog-meta-information {
  margin-left: -1px;
  }
  .main-title {
  max-width: 310px; 
  }
  .comment-meta {
    width: 85%; 
  }
  .children .comment-meta {
    width: 82%;
  }
  .children .children .comment-meta {
    width: 78%;
  }
  /*.work-box:nth-child(3n) {
    margin-right: 0;
  }*/
  .work-box {
    margin: 0 20px 20px 0;
    float: left;
  }
  .features {
    margin: 30px auto 30px;
    width: 100%;
  }
  .features > a {
    border: none;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    margin: 0px;
  }
  .works-post {
    width: 660px;
    position: relative;
  }
} /* min-width 1000px */